.sidebar {
    transform: translateX(-100%);

    width: 317px;
    height: 100vh;
    padding: 16px 24px;

    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),
        0px 10px 40px 0px rgba(29, 33, 38, 0.13);

    display: flex;
    flex-direction: column;
    gap: 25px;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    z-index: 1000;
    transition: all .3s;
}

.sidebar.open {
    transform: translateX(0%);
}

.background {
    background-color: #00000050;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nav a {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;

    text-decoration: none;
}

.nav a:hover {
    color: rgb(88, 172, 255);
}

.nav a.active {
    color: rgb(0, 89, 178);
    text-decoration-line: underline;
}
.close {
    align-self: flex-end;
    width: 24px;
    height: 24px;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.close img {
}
