.App {
    --header_height: 60px;
}

.container {
    margin: 0 auto;
    padding: 0 70px;
}

.hw {
}

.hwTitle {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}
