.select {
    width: 165px;
    height: 24px;
    padding: 0 5px;

    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    background: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
}

.select:focus {
}

.option:hover {
}
