.button {
    padding: 5px 24px 5px 24px;
    border-radius: 3px;
    border: none;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    cursor: pointer;
}

.disabled {
    color: #000;
    opacity: 0.5;
}

.secondary {
    background-color: transparent;
    border: 1px solid rgb(0, 102, 204);
    color: rgb(0, 102, 204);
}

.default {
    background: rgb(0, 102, 204);
}

.red {
    background: rgb(204, 20, 57);
}

.default:hover {
    background: rgb(0, 128, 255);
}

.red:hover {
    background: rgb(255, 26, 71);
}

.secondary:hover {
    background: rgb(229, 240, 250);
}

.default:active {
    background: rgb(0, 89, 179);
}

.secondary:active {
    background: rgb(201, 229, 255);
}

.red:active {
    background: rgb(179, 18, 50);
}

.button:disabled {
}
