.container {
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.number {
    width: 30px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
